<%# app/views/bookmarks/_document_list.html.erb -%>
<%-
  # Renders each document type according to its own presenter.
  docs = document_list ||= @document_list
  return unless docs.present?

  controller = {}

-%>
<div id="documents" class="documents-<%= document_index_view_type %>">
  <%- docs.each_with_index do |doc, counter| -%>
    <%- opt = { document: doc, document_counter: counter } -%>
    <%- key = lens_key_for(doc) -%>
    <%- controller[key] ||= lens_for(key).instance(@response, request) -%>
    <%= controller[key].instance_exec(opt) do |opt| -%>
      <%- view_context.render('document', opt) -%>
    <%- end -%>
  <%- end -%>
</div>
