<%# app/views/articles/_announcements.html.erb -%>
<%-
  # Articles lens announcements.
  announcements ||= nil
  announcements = [ # TODO: testing; remove
    'First...',
    'Second...',
    'Third...'
  ]
  return unless announcements.present?
  id      ||= 'announcements'
  heading ||= 'Announcements about article search' # TODO: I18n
  item_list =
    announcements.map { |item|
      content_tag(:li, h(item)) if item.present?
    }.compact.join("\n").html_safe
-%>
<div id="<%= id %>">
  <h3 class='section-heading'><%= heading %></h3>
  <ul><%= item_list %></ul>
</div>
