<%# app/views/shared/_home_heading.html.erb -%>
<%-
  heading ||= t('blacklight.welcome')

  total_cols = 12
  head_cols  = 7
  nav_cols   = total_cols - head_cols

  lens_links = {
    'All'      => root_path,
    'Catalog'  => search_catalog_path,
    'Articles' => search_articles_path,
    'Video'    => root_path, # TODO: search_video_path,
    'Music'    => root_path, # TODO: search_music_path,
  }.map { |label, url|
    next unless url
    label ||= url
    opt = {}
    path = request.fullpath
    if (url == root_path) ? (path == url) : path.start_with?(url)
      opt[:class] = 'disabled'
    end
    content_tag(:li, link_to(label, url), opt)
  }.compact.join("\n").html_safe
-%>

<div class="page-header row">
  <h2 class="col-md-<%= head_cols %> page-heading"><%= heading %></h2>
  <ul class="nav nav-pills col-md-<%= nav_cols %>"><%= lens_links %></ul>
</div>
