<%# app/views/account/signed_out.html.erb -%>
<%-
  # Sign-out landing page.
  @page_title = 'Signed out'
-%>
<h1>Signed Out</h1>
<p>
  You have signed out; you may turn in your <a href="#">NetBadge</a>.
</p>
